#menu ul li a span {
	font-weight: bold;
}
input.btn-edit{background-color:#4acefc; }
input.btn-edit:hover{background-color:#0373a7; }
input.btn-remove{background-color:#05abf9; }
input.btn-remove:hover{background-color:#0373a7; }
input.btn-change{background-color:#028fd0; }
input.btn-change:hover{background-color:#0373a7; }
/*img {
    width: 100%;
    height: auto;
}*/

.journal:hover {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}
.journal{
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}
