#menu ul li a span {
	font-weight: bold;
}
input.btn-edit{background-color:#4acefc; }
input.btn-edit:hover{background-color:#0373a7; }
input.btn-remove{background-color:#05abf9; }
input.btn-remove:hover{background-color:#0373a7; }
input.btn-change{background-color:#028fd0; }
input.btn-change:hover{background-color:#0373a7; }
